# Snowshoe Hares Assignment:

Madison Enda
10/17/2024

![Snowshoe Hare](https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg/1452px-SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg?20170313021652)

In [23]:
# Importing pandas
import pandas as pd
import numpy as np

In [11]:
# Reading in the URL
hares= pd.read_csv("https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-bnz.55.22&entityid=f01f5d71be949b8c700b6ecd1c42c701")

# Making a table of Values Allowed for Hares' Sex


| Symbol      | Meaning     |
| :---        |    :----:   |     
| m           | Male        |
| f           | Female      |
| m?          | Assumed Male|

In [14]:
hares.head(5)

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
0,11/26/1998,NaN,bonrip,1A,414D096A08,NaN,NaN,NaN,1370.0,160.0,NaN,917.0,51,Population
1,11/26/1998,NaN,bonrip,2C,414D320671,NaN,M,NaN,1430.0,NaN,NaN,936.0,51,Population
2,11/26/1998,NaN,bonrip,2D,414D103E3A,NaN,M,NaN,1430.0,NaN,NaN,921.0,51,Population
3,11/26/1998,NaN,bonrip,2E,414D262D43,NaN,NaN,NaN,1490.0,135.0,NaN,931.0,51,Population
4,11/26/1998,NaN,bonrip,3B,414D2B4B58,NaN,NaN,NaN,1710.0,150.0,NaN,933.0,51,Population

In [18]:
hares['sex'].nunique()

12

In [29]:
hares['sex'].value_counts(dropna= False)

F      1161
M       730
f       556
m       515
NaN     352
?        40
F?       10
f         4
m         4
f?        3
M?        2
m?        2
pf        1
Name: sex, dtype: int64

## Question 5:

- First assign all variations of `m` to male
- All variations of `f` to female
- All labels with `?` will be dropped 

## Question 6:

In [30]:
conditions= [ hares['sex'].isin(['F', 'f', 'f_']),
            hares['sex'].isin(['M', 'm', 'm_']) ]

genders= ['female', 'male']

hares['sex_simple']= np.select(conditions, genders, default= np.nan)

print(hares['sex_simple'])

0        nan
1       male
2       male
3        nan
4        nan
        ...
3375     nan
3376     nan
3377     nan
3378     nan
3379    male
Name: sex_simple, Length: 3380, dtype: object

## Question 7:

In [31]:

hares.groupby('sex_simple').weight.mean()

sex_simple
female    1366.920372
male      1352.145553
nan       1176.511111
Name: weight, dtype: float64

In [ ]:
# Collecting our code and explaining the results 

hares['sex'].value_counts(dropna= False)

conditions= [ hares['sex'].isin(['F', 'f', 'f_']),
            hares['sex'].isin(['M', 'm', 'm_']) ]

genders= ['female', 'male']

hares['sex_simple']= np.select(conditions, genders, default= np.nan)

print(hares['sex_simple'])

hares.groupby('sex_simple').weight.mean()